AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Clara Virtual Receptionist Serverless Backend (SAM)

Parameters:
  Stage:
    Type: String
    Default: dev
    AllowedValues:
      - dev
      - prod
    Description: Deployment stage (dev or prod)

  ResourceBase:
    Type: String
    Default: infoservices-clara
    Description: Base name used for resource naming conventions

  BackendImageUri:
    Type: String
    Default: 339713066436.dkr.ecr.us-east-1.amazonaws.com/serverless-ig-clara-backend:latest
    Description: ECR image URI for the Clara backend Lambda container

  LiveKitApiKey:
    Type: String
    Default: ''
    Description: LiveKit API key

  LiveKitApiSecret:
    Type: String
    Default: ''
    NoEcho: true
    Description: LiveKit API secret

  LiveKitUrl:
    Type: String
    Default: wss://your-livekit-instance
    Description: LiveKit websocket URL

  GmailUser:
    Type: String
    Default: ''
    Description: Gmail username for notifications

  GmailAppPassword:
    Type: String
    Default: ''
    NoEcho: true
    Description: Gmail app password

  GraphApplicationId:
    Type: String
    Default: ''
    Description: Microsoft Graph client ID

  GraphClientSecret:
    Type: String
    Default: ''
    NoEcho: true
    Description: Microsoft Graph client secret

  GraphTenantId:
    Type: String
    Default: ''
    Description: Microsoft Graph tenant ID

  AwsSnsSenderId:
    Type: String
    Default: ''
    Description: Sender ID for SMS notifications

  AwsSnsSmsType:
    Type: String
    Default: Transactional
    AllowedValues:
      - Promotional
      - Transactional
    Description: SNS SMS type

  AwsSnsEntityId:
    Type: String
    Default: ''
    Description: SNS entity ID (India DLT compliance)

  AwsSnsTemplateId:
    Type: String
    Default: ''
    Description: SNS template ID (India DLT compliance)

  SmsDefaultCountryCode:
    Type: String
    Default: ''
    Description: Default country code for SMS

  EmployeePrimaryKey:
    Type: String
    Default: id
    Description: Primary key attribute for the employees table

  EmployeeEmailIndex:
    Type: String
    Default: EmailIndex
    Description: Email GSI name for the employees table

  EmployeeIdIndex:
    Type: String
    Default: EmployeeIdIndex
    Description: Employee ID GSI name for the employees table

  FaceImagePrefix:
    Type: String
    Default: Employee_Images
    Description: Folder prefix for employee face images

  FaceImageExtension:
    Type: String
    Default: jpg
    Description: Default file extension for face images

  FaceEncodingTableKey:
    Type: String
    Default: FACE_ENCODINGS
    Description: Partition key for the face encoding table

  FaceEncodingS3Key:
    Type: String
    Default: Pickle_file/encoding.pkl
    Description: S3 key used for serialized face encodings

  VisitorPhotoPrefix:
    Type: String
    Default: visitor-photos
    Description: Folder prefix for visitor photos in S3

  CompanyInfoS3Key:
    Type: String
    Default: ''
    Description: S3 key for company info assets

  DevModeOtp:
    Type: String
    Default: 'false'
    AllowedValues:
      - 'true'
      - 'false'
    Description: Enable developer mode OTP bypass

  FaceRecognitionEnabled:
    Type: String
    Default: 'true'
    AllowedValues:
      - 'true'
      - 'false'
    Description: Toggle for face recognition feature flag

Conditions:
  IsProd: !Equals [!Ref Stage, prod]

Globals:
  Function:
    Timeout: 30
    MemorySize: 1024
    Architectures:
      - x86_64

Resources:
  ClaraHttpApi:
    Type: AWS::Serverless::HttpApi
    Properties:
      StageName: !Ref Stage
      CorsConfiguration:
        AllowCredentials: false
        AllowHeaders:
          - '*'
        AllowMethods:
          - '*'
        AllowOrigins:
          - '*'

  EmployeesTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub '${ResourceBase}-employees-${Stage}'
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: !Ref EmployeePrimaryKey
          AttributeType: S
        - AttributeName: email
          AttributeType: S
        - AttributeName: employee_id
          AttributeType: S
      KeySchema:
        - AttributeName: !Ref EmployeePrimaryKey
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: !Ref EmployeeEmailIndex
          KeySchema:
            - AttributeName: email
              KeyType: HASH
          Projection:
            ProjectionType: ALL
        - IndexName: !Ref EmployeeIdIndex
          KeySchema:
            - AttributeName: employee_id
              KeyType: HASH
          Projection:
            ProjectionType: ALL
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain

  VisitorLogTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub '${ResourceBase}-visitor-log-${Stage}'
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: visit_date
          AttributeType: S
        - AttributeName: visit_id
          AttributeType: S
      KeySchema:
        - AttributeName: visit_date
          KeyType: HASH
        - AttributeName: visit_id
          KeyType: RANGE
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain

  ManagerVisitTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub '${ResourceBase}-manager-visits-${Stage}'
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: visit_id
          AttributeType: S
      KeySchema:
        - AttributeName: visit_id
          KeyType: HASH
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain

  FaceEncodingTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub '${ResourceBase}-face-encodings-${Stage}'
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: !Ref FaceEncodingTableKey
          AttributeType: S
      KeySchema:
        - AttributeName: !Ref FaceEncodingTableKey
          KeyType: HASH
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain

  FaceImageBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub '${ResourceBase}-${Stage}-face-images'
      VersioningConfiguration:
        Status: Suspended
      LifecycleConfiguration:
        Rules:
          - Status: Enabled
            ExpirationInDays: 730
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain

  VisitorPhotoBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub '${ResourceBase}-${Stage}-visitor-photos'
      VersioningConfiguration:
        Status: Suspended
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain

  CompanyInfoBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub '${ResourceBase}-${Stage}-company-info'
      VersioningConfiguration:
        Status: Suspended
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain

  ClaraApiFunction:
    Type: AWS::Serverless::Function
    Properties:
      PackageType: Image
      ImageUri: !Ref BackendImageUri
      Description: Clara API Lambda function container
      Events:
        ApiProxy:
          Type: HttpApi
          Properties:
            ApiId: !Ref ClaraHttpApi
            Path: /{proxy+}
            Method: ANY
      Policies:
        - Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action:
                - dynamodb:GetItem
                - dynamodb:PutItem
                - dynamodb:UpdateItem
                - dynamodb:DeleteItem
                - dynamodb:Query
                - dynamodb:Scan
              Resource:
                - !GetAtt EmployeesTable.Arn
                - !GetAtt VisitorLogTable.Arn
                - !GetAtt ManagerVisitTable.Arn
                - !GetAtt FaceEncodingTable.Arn
                - !Sub '${EmployeesTable.Arn}/index/*'
                - !Sub '${VisitorLogTable.Arn}/index/*'
                - !Sub '${ManagerVisitTable.Arn}/index/*'
                - !Sub '${FaceEncodingTable.Arn}/index/*'
            - Effect: Allow
              Action:
                - s3:GetObject
                - s3:PutObject
                - s3:DeleteObject
                - s3:ListBucket
              Resource:
                - !GetAtt FaceImageBucket.Arn
                - !Sub '${FaceImageBucket.Arn}/*'
                - !GetAtt VisitorPhotoBucket.Arn
                - !Sub '${VisitorPhotoBucket.Arn}/*'
                - !GetAtt CompanyInfoBucket.Arn
                - !Sub '${CompanyInfoBucket.Arn}/*'
            - Effect: Allow
              Action:
                - sns:Publish
              Resource: '*'
            - Effect: Allow
              Action:
                - ses:SendEmail
                - ses:SendRawEmail
              Resource: '*'
      Environment:
        Variables:
          STAGE: !Ref Stage
          ROOT_PATH: !If [IsProd, '/', !Sub '/${Stage}']
          AWS_REGION: !Ref AWS::Region
          LIVEKIT_API_KEY: !Ref LiveKitApiKey
          LIVEKIT_API_SECRET: !Ref LiveKitApiSecret
          LIVEKIT_URL: !Ref LiveKitUrl
          EMPLOYEE_TABLE_NAME: !Ref EmployeesTable
          EMPLOYEE_EMAIL_INDEX: !Ref EmployeeEmailIndex
          EMPLOYEE_ID_INDEX: !Ref EmployeeIdIndex
          EMPLOYEE_PRIMARY_KEY: !Ref EmployeePrimaryKey
          VISITOR_LOG_TABLE_NAME: !Ref VisitorLogTable
          MANAGER_VISIT_TABLE_NAME: !Ref ManagerVisitTable
          FACE_IMAGE_BUCKET: !Ref FaceImageBucket
          FACE_S3_BUCKET: !Ref FaceImageBucket
          FACE_IMAGE_PREFIX: !Ref FaceImagePrefix
          FACE_IMAGE_EXTENSION: !Ref FaceImageExtension
          FACE_ENCODING_TABLE_NAME: !Ref FaceEncodingTable
          FACE_ENCODING_TABLE_KEY: !Ref FaceEncodingTableKey
          FACE_ENCODING_S3_KEY: !Ref FaceEncodingS3Key
          VISITOR_PHOTO_BUCKET: !Ref VisitorPhotoBucket
          VISITOR_PHOTO_PREFIX: !Ref VisitorPhotoPrefix
          COMPANY_INFO_S3_BUCKET: !Ref CompanyInfoBucket
          COMPANY_INFO_S3_KEY: !Ref CompanyInfoS3Key
          AWS_SNS_SENDER_ID: !Ref AwsSnsSenderId
          AWS_SNS_SMS_TYPE: !Ref AwsSnsSmsType
          AWS_SNS_ENTITY_ID: !Ref AwsSnsEntityId
          AWS_SNS_TEMPLATE_ID: !Ref AwsSnsTemplateId
          CHE_SMS_DEFAULT_COUNTRY_CODE: !Ref SmsDefaultCountryCode
          GMAIL_USER: !Ref GmailUser
          GMAIL_APP_PASSWORD: !Ref GmailAppPassword
          GRAPH_APPLICATION_ID: !Ref GraphApplicationId
          GRAPH_CLIENT_SECRET: !Ref GraphClientSecret
          GRAPH_TENANT_ID: !Ref GraphTenantId
          DEV_MODE_OTP: !Ref DevModeOtp
          FACE_RECOGNITION_ENABLED: !Ref FaceRecognitionEnabled

Outputs:
  HttpApiEndpoint:
    Description: Invoke URL for the Clara HTTP API
    Value: !Sub 'https://${ClaraHttpApi}.execute-api.${AWS::Region}.amazonaws.com/${Stage}/'

  EmployeesTableName:
    Description: DynamoDB table storing employee records
    Value: !Ref EmployeesTable

  VisitorLogTableName:
    Description: DynamoDB table storing visitor logs
    Value: !Ref VisitorLogTable

  FaceImageBucketName:
    Description: S3 bucket for employee face images
    Value: !Ref FaceImageBucket

  Stage:
    Description: Deployment stage for this stack
    Value: !Ref Stage